<%= render 'refills/navigation' %>

<h1 class="admin-form-headline">Add books to a place</h1 class="admin-form-headline">
  
<fieldset>

  <%= form_for @book_place, url: {action: "create"}, method: :post do |f| %>
    
    <p>
      <%= f.label :title %>
      <%= f.collection_select(:book_id, Book.all, :id, :title) %>
    </p>

    <p>
      <%= f.label :place %>
      <%= f.collection_select(:place_id, Place.all, :id, :name) %>
    </p>

    <p>
      <%= f.submit :submit %>
    </p>

  <% end %>

</fieldset>
