<%= render 'refills/navigation' %>

<fieldset>
  <h3>Admin: Add books to a place:</h3>
  
  <%= form_for @book_place, url: {action: "create"}, method: :post do |f| %>
    
    <p>
      <%= f.label :title %>
      <%= f.collection_select(:book_id, Book.all, :id, :title) %>
    </p>

    <p>
      <%= f.label :place %>
      <%= f.collection_select(:place_id, Place.all, :id, :name) %>
    </p>

    <p>
      <%= f.submit :submit %>
    </p>

  <% end %>

</fieldset>
