<h3>Admin: Add books to a place:</h3>

<% @books.each do |book| %>
  
  <%= book.title %>
  <%= form_for @book_place, url: {action: "create"}, html: {book_id: book.id} do |f| %>
  
  <p>
    <%= f.label :place %>
    <%= f.collection_select(:place_id, Place.all, :id, :name) %>
  </p>

  <p>
    <%= f.submit :submit %>
  </p>

  <% end %>

<% end %>

