<%= render 'shared/nav' %>

<h1 class="form-headline">All Users</h1>
<div class="cards">
  <% @users.order("location asc").each do |user| %>
  <div class="card">
    <div class="card-image">
      <% if user.avatar.exists? == true %>
        <%= image_tag(user.avatar.url(:medium)) %>
      <% else %>
        <img src="/assets/antique-map.jpg" alt="">
      <% end %>
    </div>
    <div class="card-header">
      <%= link_to user.username.titleize, user_path(user) %>
    </div>
    <div class="card-copy">
      <p>
        <%= user.location.upcase %>
        Books: <%= user.books.length %>
      </p>
    </div>
  </div>
  <% end %>
</div>