
<%= image_tag(@user.avatar.url(:thumb)) %>
<h1>
  Name: <%= @user.username %>
</h1>
<p>
  Location:
  <%= @user.location %>
</p>

<% @user.books.each do |book| %>
    <%= book.title.titleize %>
    <%= book.author.titleize %>
    <br>
<% end %>

<div id="map">
 
</div>