<div id="user-index">
  <%= render 'shared/nav' %>

  <div class="user-profile">
    <%= image_tag(@user.avatar.url(:thumb)) %>
    <h1>
      <%= @user.username %>
    </h1>
    <p>
      Home:
      <%= @user.location %>
    </p>
    <p>
      Total locations: <%= @user.places.length %> <br>
      Total books: <%= @user.books.length %> 
    <p> 
      <% if @user == current_user %>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check%20out%20my%20Bookmark%20map.">Tweet</a>
      <% end %>
    </p>
      <hr>
      <% @user.books.order("title asc").each do |book| %>
          <span class="book-title"><%= link_to book.title.titleize, book_path(book), target: "_blank" %></span> by 
          <%= book.author.titleize %>
          <br>
      <% end %>
    </p>
  </div>
</div>

<div class='custom-popup' id="map_user">

</div>
