<div id="places-index">
  <%= image_tag(@user.avatar.url(:thumb)) %>
  <h1>
    Name: <%= @user.username %>
  </h1>
  <p>
    Location:
    <%= @user.location %>
  </p>
  <p>
    <% @user.books.order("title asc").each do |book| %>
        <%= book.title.titleize %> by 
        <%= book.author.titleize %>
        <br>
    <% end %>
  </p>
</div>

<div id="map_user">

</div>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
