<h1>
  <%= image_tag(@user.avatar.url(:thumb)) %>
  <%= @user.username + "'s Passport" %>
</h1>
<p>
  Based in:
  <%= @user.location %>
</p>

<% @user.books.each do |book| %>
    <%= book.title.titleize %>
    <%= book.author.titleize %>
    <% book.places.each do |place| %> 
      <%= place.name.titleize %> 
    <% end %>
  <br>
<% end %>
