<div id="user-index">
  <%= render 'shared/nav' %>

  <div class="user-profile">
    <%= image_tag(@user.avatar.url(:thumb)) %>
    <h1>
      <%= @user.username %>
    </h1>
    <p>
      Home:
      <%= @user.location %>
    </p>
    <p>
      Total locations: <%= @user.places.length %> <br>
      Total books: <%= @user.books.length %> 
    </p>
    <hr>
    <p id="bio">
      <%= @user.bio %>
    </p>
      <% if @user == current_user %>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=I'm%20reading%20the%20world%20on%20Bibliocarta">Tweet</a>
      <% end %>
  </div>
</div>

<div class='custom-popup mobile-cols' id="map_user">

</div>
