<%= render 'refills/navigation' %>

<div class="container">
<h1 class="form-headline">Books from Everywhere</h1>
  <% @books.order("author asc").each do |book| %>
    <div class="book-index-card">
    <%= image_tag(book.avatar.url(:thumb)) %>
      <p class="attribution">
        <%= link_to book.title.titleize, book_path(book) %> <br>
        <%= book.author.titleize %> <br>
        <%= book.genre.downcase %> <br>
          <% book.places.order("name asc").each do |place| %> 
            <%= place.name.titleize %>
          <% end %>
        <br>
      </p>
    </div>
  <% end %>
</div>