<%= render 'shared/nav' %>
<div class="container">
  
  <div class="book-cover">
    <%= image_tag(@book.avatar.url(:medium)) %>
  </div>

  <div class="book-info">
    <h1>
      <%= @book.title.titleize %>
    </h1>
    <p>
      <%= @book.author.titleize %> <br>
    </p>
    <p>
      <%= @book.genre.upcase %>
    </p>
    <p>
      <%= @book.publisher.titleize %> <br>
      <%= @book.pub_date %>
      <%= @book.format.upcase %>
    </p>
    <hr>
  </div>
  
  <article>
    <h2>Book Description</h2>
    <% if @book.summary.empty? %>
      <%= "PLACEHOLDER 'We'll see about that,' replied Fix. 'But are you not mistaken?' 'I am not mistaken.' 'Why was this robber so anxious to prove, by the visa, that he had passed through Suez?' 'Why?  I have no idea; but listen to me.' He reported in a few words the most important parts of his conversation with Passepartout. 'In short,' said the consul, 'appearances are wholly against this man. And what are you going to do?'" %>
        <br>
    <% else %>
      <%= simple_format h(@book.summary) %>
    <% end %>
  
    <div class="prev-next">
      <% if @previous %>
        <%= link_to '< Previous', @previous %>
      <% end %>
      <%= link_to 'Return to all books', books_path %>
      <% if @next %>
        <%= link_to 'Next >', @next  %>
      <% end %>
    </div>
  </article>

  <div class="visa">
    <%= button_to "Add to my passport", user_books_path(book_id: @book.id), method: :post, remote: true %>
    <div id="checked-book" style="display:none; background-color: SkyBlue;">This book has been added to your passport</div>
  </div>
</div>
