<%= render 'refills/navigation' %>
<div class="container">
  
  <div class="book-cover">
    <%= image_tag(@book.avatar.url(:medium)) %>
  </div>

  <div class="book-info">
    <h1>
      <%= @book.title.titleize %>
    </h1>
    <p>
      <%= @book.author.titleize %> <br>
    </p>
    <p>
      <%= @book.genre? ? @book.genre.upcase : "GENERAL" %>
    </p>
    <hr>
  </div>

  <article class="book-about">
    <h2>About the Book</h2>
      <%= simple_format h(@book.summary) %>
    <hr>  

  <% if current_user.curator? %>
    <%= link_to 'Edit book information', edit_book_path(@book) %>
    <br>
  <% end %>

    <div class="prev-next">
      <% if @book.previous %>
        <%= link_to '< Previous', @book.previous %>
      <% end %>
      <%= link_to 'Return to all books', books_path %>
      <% if @book.next %>
        <%= link_to 'Next >', @book.next  %>
      <% end %>
    </div>
  </article>

  <div class="visa">
    <%= button_to "Add to my collection", user_books_path(book_id: @book.id), method: :post, remote: true %>
    <div id="checked-book" style="display:none; background-color: SkyBlue;">This book has been added to your passport</div>
  </div>

</div>
