<%= render 'refills/navigation' %>
<div class="container">
  
  <div class="book-cover">
    <%= image_tag(@book.avatar.url(:medium)) %>
  </div>

  <div class="book-info">
    <h1>
      <%= @book.title.titleize %>
    </h1>
    <p>
      <%= @book.author.titleize %> <br>
    </p>
    <p>
      <%= @book.genre.upcase %>
    </p>
    <p>
      <%= @book.publisher.titleize %> <br>
      <%= @book.pub_date %>
      <%= @book.format.upcase %>
    </p>
    <hr>
  </div>
  
  <article>
    <h2>About the Book</h2>
      <%= simple_format h(@book.summary) %>
    <hr>  
    <div class="prev-next">
      <% if @previous %>
        <%= link_to '< Previous', @previous %>
      <% end %>
      <%= link_to 'Return to all books', books_path %>
      <% if @next %>
        <%= link_to 'Next >', @next  %>
      <% end %>
    </div>
  </article>

  <div class="visa">
    <%= button_to "Add to my collection", user_books_path(book_id: @book.id), method: :post, remote: true %>
    <div id="checked-book" style="display:none; background-color: SkyBlue;">This book has been added to your passport</div>
  </div>
</div>
