<h1>
  <%= @book.title.titleize %>
</h1>
<%= button_to "Add to my passport", user_books_path(book_id: @book.id), method: :post, remote: true %>
<div id="checked-book" style="display:none; background-color: SkyBlue;">This book has been added to your passport</div>

<p>
  <%= @book.author.titleize %> <br>
  <%= @book.genre.upcase %> <br>
</p>
<p>
  <%= @book.publisher.titleize %> <br>
  <%= @book.pub_date %> <br>
  <%= @book.format.upcase %>
</p>
<h2>Book Description</h2>
<%= simple_format h(@book.summary) %>
