<fieldset>
  <%= form_for @place do |f| %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :region %>
      <%= f.select(:region, options_for_select([['Africa'], ['Americas'], ['Asia'], ['Australia/S. Pacific'], ['Europe'], ['Middle East'], ['Antarctica']]), autocomplete: "on") %>
    </p>

    <p>
      <%= f.label :latitude %>
      <%= f.text_field :latitude, autocomplete: "on" %>
    </p>

    <p>
      <%= f.label :longitude %>
      <%= f.text_field :longitude, autocomplete: "on" %>
    </p>

    <p>
      <%= f.submit :submit %>
    </p>

  <% end %>
</fieldset>