<%= render 'refills/navigation' %>
<div class="side-image">
  <div class="side-image-content">
    <h1><%= @place.name %></h1>   
  </div>
</div>

<div class="container">
  
  <% @place.books.each do |book| %>
    <div class="book-index-card">
      <%= image_tag(book.avatar.url(:thumb), class: "small-cover") %> 
      <br>
      <div class="title-info">
        <h3>
          <%= link_to (book.title).titleize, book_path(book.id) %>
        </h3>
        <p>
          <%= book.author.titleize %> <br>
          <%= book.genre.upcase %> <br>
        </p>
      </div>
      <%= simple_format h truncate(book.summary, length: 250) %>
        <div>
          <% if !current_user.books.include?(book) %> 
            <%= button_to "Add to my collection", user_books_path(book_id: book.id), method: :post, remote: true %>
            <div id="checked-book" style="display:none; background-color: SkyBlue;">This book has been added to your collection</div>
          <% else %>
            <h6>In your collection</h6>
          <% end %>
        </div>
    </div>
  <% end %>
 
  <div class="place-links">
    <hr>
    <br>
    <%= link_to "<< Return to world map", places_path  %>
    <%= link_to "See all books >>", books_path  %>
  </div>
</div>